<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacetraders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".data.views.TraderEncounterActivity"></activity>
        <activity android:name=".data.views.PoliceEncounterActivity" />
        <activity android:name=".data.views.PIrateEncounterActivity" />
        <activity android:name=".data.views.PlayerActivity" />
        <activity
            android:name=".data.views.TitleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.views.NewCharacterActivity"
            android:parentActivityName=".data.views.TitleActivity" />
        <activity
            android:name=".data.views.OldCharacterActivity"
            android:parentActivityName=".data.views.TitleActivity" />
        <activity
            android:name=".data.views.MainGameActivity"
            android:parentActivityName=".data.views.TitleActivity" />
        <activity
            android:name=".data.views.MarketActivity"
            android:parentActivityName=".data.views.MainGameActivity" />
        <activity
            android:name=".data.views.TravelActivity"
            android:parentActivityName=".data.views.MainGameActivity" />
        <activity
            android:name=".data.views.RefuelActivity"
            android:parentActivityName=".data.views.MainGameActivity" />
        <activity
            android:name=".data.views.ShipYardActivity"
            android:parentActivityName=".data.views.RefuelActivity" />
        <activity
            android:name=".data.views.SolarSystemActivity"
            android:parentActivityName=".data.views.MainGameActivity" />
        <activity
            android:name=".data.views.MercenaryActivity"
            android:parentActivityName=".data.views.MainGameActivity" />
    </application>

</manifest>